/******************************/
/* Custom PS4 Controller Skin */
/******************************/

#controller {
  background-image: url('https://drive.google.com/drive/folders/1Zo4cEWvi4ik-ByZkhq_8nwaQhslXbkFA?hl=vi.png');
  background-size: contain;
}

button#dpad-up {
  background-image: url('LINK_TO_YOUR_DPAD_UP_IMAGE.png');
  background-size: contain;
}

button#dpad-down {
  background-image: url('LINK_TO_YOUR_DPAD_DOWN_IMAGE.png');
  background-size: contain;
}

button#dpad-left {
  background-image: url('LINK_TO_YOUR_DPAD_LEFT_IMAGE.png');
  background-size: contain;
}

button#dpad-right {
  background-image: url('LINK_TO_YOUR_DPAD_RIGHT_IMAGE.png');
  background-size: contain;
}

/* Continue this for all buttons, triggers, joysticks, etc. */
